*{
    margin:0;
    padding:0;
}
.box{
    width: 100%;
    height: 100vh;
    background-image: url(helpinghand624.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.header{
    height: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

}
.logo{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;

}
.navbar{
    text-align: center;
    flex: 1;
}
.navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size:30px ;
    font-weight: bold;
}
.btn{
    cursor: pointer;
    color: aqua;
    font-size: 18px;
    letter-spacing: 2px;
    padding:10px 30px;
    border: 2px solid beige;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 40px 8px;

}
.content{
    text-align: center;
    margin-top: 12%;

}
.content h1{
    font-size:50px ;
    color: white;
}
.content h3{
    color: white;
    font-size: 30px;
    margin-top: 20px;
}
.back{
    width: 100%;
    height: 100vh;
    background-image: url(blackimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.back h1{
    text-align: center;
    color: black;

}
.cform{
    width: 100px;
    height: 10px;
    margin: 40px auto;   
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 400%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    outline: none;
    color: #111;
    transition: 0.5s;
    font-size: 20px;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background:#34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
}

.contact-form-btn:hover{
    box-shadow: 0 0 10px 4 px;
    background:#2980b9;
}
.bg{
   
        width: 100%;
        height: 100vh;
        background-image: url(blog-size-helping-hand-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
    
}
.para{
    font-size: 30px;
    padding: 100px;
}



